.ui-select
  padding: 5px 7px
  display: block
  font-size: 14px
  font-family: sans-serif
  font-weight: 700
  color: #444
  border: 1px solid #aaa
  border-radius: 4px
  outline: none
  margin: 5px
