.ui-loader_wrapper
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100%

.ui-loader
  display: inline-block
  position: relative
  width: 80px
  height: 80px

.ui-loader div
  display: inline-block
  position: absolute
  left: 8px
  width: 16px
  background: #1B3070
  animation: loader-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite

.ui-loader div:nth-child(1)
  left: 8px
  animation-delay: -0.24s

.ui-loader div:nth-child(2)
  left: 32px
  animation-delay: -0.12s

.ui-loader div:nth-child(3)
  left: 56px
  animation-delay: 0s

@keyframes loader-animation
  0%
    top: 8px
    height: 64px

  50%, 100%
    top: 24px
    height: 32px

