.ui-mini-loader
  display: block
  position: relative
  width: 40px
  height: 40px

.ui-mini-loader div
  display: inline-block
  position: absolute
  left: 4px
  width: 8px
  background: #1B3070
  animation: loader-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite

.ui-mini-loader div:nth-child(1)
  left: 4px
  animation-delay: -0.24s

.ui-mini-loader div:nth-child(2)
  left: 16px
  animation-delay: -0.12s

.ui-mini-loader div:nth-child(3)
  left: 28px
  animation-delay: 0s

@keyframes loader-animation
  0%
    top: 4px
    height: 32px

  50%, 100%
    top: 12px
    height: 16px

