.hev-viewer
  width: 100%
  max-width: 720px
  height: 548px
  background: #FFFFFF
  border-radius: 4px
  overflow: hidden
  display: flex
  flex-direction: column

  @media (max-width: 720px)
    border-radius: 0

  &_toolbar
    display: flex
    justify-content: space-between
    background: #EEEEEE
    padding: 15px

  &_chart
    background-color: #FFFFFF
    padding: 20px
    display: flex
    justify-content: center
    align-items: center
    height: 100%