.ui-button
  padding: 5px 7px
  font-size: 14px
  border-radius: 4px
  display: block
  font-family: sans-serif
  font-weight: 700
  color: #444
  border: 1px solid #aaa
  box-sizing: border-box
  cursor: pointer
  margin: 5px

  &:active
    opacity: 0.8

  &.active
    border: 1px solid #1B3070
    color: #1B3070

.ui-radioButton
  display: flex
  flex-wrap: wrap

  .ui-button
    margin-right: 5px

    @media (max-width: 720px)
      margin-bottom: 5px