.ui-chart
  border-radius: 4px
  border: 1px solid #777777
  width: 100%
  height: 100%


  .focus circle
    fill: dodgerblue

  //.focus text

  .tooltip
    fill: rgba(255,255,255,0.8)
    stroke: #000

  .tooltip-date, .tooltip-value
    font-size: 14px
    font-weight: 400
    font-family: sans-serif

  .tooltip-date
    font-size: 12px
    color: #333333

  .overlay
    fill: none
    pointer-events: all
    cursor: crosshair