body
  background: #2B2B36

*
  margin: 0
  padding: 0
  box-sizing: border-box

.wrap
  width: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center